#:schema node_modules/wrangler/config-schema.json
# Top-level configuration: Used for LOCAL development (nuxt dev, wrangler dev)
name = "theslope-local"
compatibility_date = "2025-10-01"
compatibility_flags = ["nodejs_compat"]
main = "./.output/server/index.mjs"
assets = { directory = "./.output/public/", binding = "ASSETS" }

[vars]
HEY_NABO_API = "https://demo.spaces.heynabo.com/api"
DB_D1_NAME = "theslope"

[limits]
# Increase the default CPU time limit to 60s
cpu_ms=180_000

# Workers Logs
[observability]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = "theslope"
database_id = "3ed9b6b3-b9b9-45db-aa72-58f64c682142"
migrations_dir = "migrations"

# Development deployment: Remote dev.skraaningen.dk
[env.dev]
name = "theslope-dev"
routes = [
    { pattern = "dev.skraaningen.dk/*", zone_name = "skraaningen.dk" }
]

[env.dev.vars]
HEY_NABO_API = "https://demo.spaces.heynabo.com/api"
DB_D1_NAME = "theslope"

[[env.dev.d1_databases]]
binding = "DB"
database_name = "theslope"
database_id = "3ed9b6b3-b9b9-45db-aa72-58f64c682142"
migrations_dir = "migrations"

# Production deployment: Remote www.skraaningen.dk (overrides name, routes, vars, and database)
[env.prod]
name = "theslope-prod"
workers_dev = false
routes = [
    { pattern = "www.skraaningen.dk/*", zone_name = "skraaningen.dk" },
    { pattern = "skraaningen.dk/*", zone_name = "skraaningen.dk" }
]

[env.prod.vars]
HEY_NABO_API = "https://skraaningeni.spaces.heynabo.com/api"
DB_D1_NAME = "theslope-prod"

[[env.prod.d1_databases]]
binding = "DB"
database_name = "theslope-prod"
database_id = "495e319b-3b88-4cc8-949a-64a96ba2c019"
migrations_dir = "migrations"
