@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    /* Custom amber color palette */
    --color-amber-50: #f8f5f2;
    --color-amber-100: #eae2db;
    --color-amber-200: #d4c3b3;
    --color-amber-300: #bda38c;
    --color-amber-400: #ae8a71;
    --color-amber-500: #a47864;
    --color-amber-600: #8d5f52;
    --color-amber-700: #774c46;
    --color-amber-800: #633f3d;
    --color-amber-900: #523635;
    --color-amber-950: #2d1b1b;

    /* Custom blue color palette */
    --color-blue-50: #effcfc;
    --color-blue-100: #d6f5f7;
    --color-blue-200: #b2ebef;
    --color-blue-300: #7ddbe3;
    --color-blue-400: #33becc;
    --color-blue-500: #25a6b5;
    --color-blue-600: #228698;
    --color-blue-700: #226d7d;
    --color-blue-800: #235a67;
    --color-blue-900: #224b57;
    --color-blue-950: #11313b;

    /* Custom pink color palette - Pantone pink lemonade #fa7b95 */
    --color-pink-50: #fef3f6;
    --color-pink-100: #fde8ef;
    --color-pink-200: #fcd4e1;
    --color-pink-300: #fab0c7;
    --color-pink-400: #f77da1;
    --color-pink-500: #fa7b95;
    --color-pink-600: #e8466f;
    --color-pink-700: #ca2f58;
    --color-pink-800: #a9284b;
    --color-pink-900: #8d2643;
    --color-pink-950: #511022;

    /* Custom orange color palette */
    --color-orange-50: #fef5ee;
    --color-orange-100: #fce8d8;
    --color-orange-200: #f9ceaf;
    --color-orange-300: #f4ab7d;
    --color-orange-400: #ef7e48;
    --color-orange-500: #ec6a37;
    --color-orange-600: #dc441a;
    --color-orange-700: #b63218;
    --color-orange-800: #91291b;
    --color-orange-900: #752419;
    --color-orange-950: #3f0f0b;

    /* Custom sky color palette */
    --color-sky-50: #f1fafa;
    --color-sky-100: #dbeff2;
    --color-sky-200: #bcdfe5;
    --color-sky-300: #8dc8d3;
    --color-sky-400: #52a5b6;
    --color-sky-500: #3c8c9e;
    --color-sky-600: #357385;
    --color-sky-700: #305f6e;
    --color-sky-800: #2e4f5c;
    --color-sky-900: #2a444f;
    --color-sky-950: #182b34;

    /* Custom red color palette */
    --color-red-50: #fbf6f5;
    --color-red-100: #f8edeb;
    --color-red-200: #f1dcda;
    --color-red-300: #e5c1bc;
    --color-red-400: #d69c96;
    --color-red-500: #c4746f;
    --color-red-600: #ad5351;
    --color-red-700: #904040;
    --color-red-800: #833c3f;
    --color-red-900: #693236;
    --color-red-950: #391819;

    /* Custom violet color palette */
    --color-violet-50: #fcf3f8;
    --color-violet-100: #fae9f3;
    --color-violet-200: #f7d3e6;
    --color-violet-300: #f1a9cf;
    --color-violet-400: #e97db3;
    --color-violet-500: #de5697;
    --color-violet-600: #cb3777;
    --color-violet-700: #b0265d;
    --color-violet-800: #91234d;
    --color-violet-900: #7a2144;
    --color-violet-950: #4a0d24;

    /* Custom winery color palette - Pantone winery #7e212a */
    --color-winery-50: #fdf3f4;
    --color-winery-100: #fbe8ea;
    --color-winery-200: #f7d4d8;
    --color-winery-300: #f0b1b9;
    --color-winery-400: #e68494;
    --color-winery-500: #d65c72;
    --color-winery-600: #c03d5a;
    --color-winery-700: #a02f4b;
    --color-winery-800: #852a43;
    --color-winery-900: #7e212a;
    --color-winery-950: #3e1015;

    /* Custom party color palette - Pantone party punch #c4516c */
    --color-party-50: #fdf3f5;
    --color-party-100: #fce8ed;
    --color-party-200: #fad1dd;
    --color-party-300: #f7aac1;
    --color-party-400: #f17999;
    --color-party-500: #e84c76;
    --color-party-600: #d42f5e;
    --color-party-700: #c4516c;
    --color-party-800: #9c1e44;
    --color-party-900: #851d3d;
    --color-party-950: #4e0a1f;

    /* Custom peach color palette - Pantone peach cobbler #ffb482 */
    --color-peach-50: #fff8f0;
    --color-peach-100: #ffeede;
    --color-peach-200: #ffd9bb;
    --color-peach-300: #ffb482;
    --color-peach-400: #ff9b5e;
    --color-peach-500: #fe7320;
    --color-peach-600: #ef5616;
    --color-peach-700: #c63f14;
    --color-peach-800: #9d3318;
    --color-peach-900: #7e2d17;
    --color-peach-950: #44130a;

    /* Custom caramel color palette - Pantone caramel #ca815a */
    --color-caramel-50: #f9f5f1;
    --color-caramel-100: #f1e7dc;
    --color-caramel-200: #e3cdb7;
    --color-caramel-300: #d2ac8b;
    --color-caramel-400: #ca815a;
    --color-caramel-500: #b76a4a;
    --color-caramel-600: #a0543f;
    --color-caramel-700: #854236;
    --color-caramel-800: #6c3731;
    --color-caramel-900: #582f2a;
    --color-caramel-950: #2f1716;

    /* Custom yellow color palette - Deadline warning chips (Tailwind yellow) */
    --color-yellow-50: #fefce8;
    --color-yellow-100: #fef9c3;
    --color-yellow-200: #fef08a;
    --color-yellow-300: #fde047;
    --color-yellow-400: #facc15;
    --color-yellow-500: #eab308;
    --color-yellow-600: #ca8a04;
    --color-yellow-700: #a16207;
    --color-yellow-800: #854d0e;
    --color-yellow-900: #713f12;
    --color-yellow-950: #422006;

    /* Animations */
    --animate-marquee: marquee 90s linear infinite;
    @keyframes marquee {
        0%, 100% {
            transform: translateX(100%);
        }
        50% {
            transform: translateX(-100%);
        }
    }
}
